@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

.App {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(254, 44, 85, 1) 0%,
    rgba(37, 244, 238, 1) 100%
  );
  overflow: hidden;
}

.video-carousel {
  max-height: 100vh;
  max-width: 100vw;
  aspect-ratio: 9/16;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar */
.video-carousel::-webkit-scrollbar {
  display: none;
}
.video-carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
